.header {
  background: $grey;
  width: 100%;
  color: $black;
  &_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.navigation {
  display: inline-flex;
  align-items: center;
}

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.logo {
  &_title {
    color: #fff;
    font-weight: 500;
    font-size: rem(10px);
    line-height: rem(12px);
    letter-spacing: 0.01em;
    background: $blue;
    border-radius: 4px;
    padding: 3px 31px 2px;
    box-shadow: -5px -4px 0 0 #2D3786;
    margin: 4px 0 0 5px;
  }
}

.hamburger {
  display: none;
}

.menu {
  &_item {
    .svg-icon {
      display: none;
    }
  }
  &_item.active {
    .menu_link {
      color: $blue;
      font-weight: 600;
      &::after {
        content: '';
        display: block;
        width: 53%;
        height: 3px;
        background: $blue;
        box-shadow: 0 -1px 2px rgba(40, 88, 179, 0.15);
        border-radius: 6px;
        position: absolute;
        bottom: 0;
        left: 24%;
      }
    }
  }
  &_list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  &_link {
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: rgba(43, 45, 58, 0.7);
    padding: 37px 17px;
    position: relative;

  }
}

.mail {
  align-items: center;
  font-weight: 600;
  font-size: rem(13px);
  line-height: rem(16px);
  margin-left: 12px;
  .svg-icon {
    margin-right: 8px;
  }
  &_address {
    display: flex;
    align-items: center;
  }
  &_text {
    display: none;
  }
}

.recall {
  display: flex;
  margin-left: 27px;
  &_wrap {
    text-align: center;
    margin-left: 10px;
  }
  &_text {
    font-size: rem(11px);
    line-height: rem(13px);
    color: $blue;
    cursor: pointer;
  }
  &_num {
    font-weight: 600;
    font-size: rem(13px);
    line-height: rem(16px);
  }
}

.brief-button {
  display: none;
}

@media only screen and (max-device-width: 480px) {
  .header {
    &_content {
      padding: 16px;
    }
  }
  .navigation {
    background: $grey;
    box-sizing: border-box;
    padding: 0 16px;
    display: block;
    z-index: 2;
    position: absolute;
    top: 84px;
    left: 0;
    overflow: hidden;
    max-height: 0;
    width: 100%;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    &.active {
      overflow: hidden;
      max-height: 750px;
      transition-duration: 0.4s;
      transition-timing-function: ease-in;
    }
    .recall {
      display: none;
    }
  }
  .menu {
    &_item {
      .svg-icon {
        display: block;
        fill: $black;
        margin-right: 24px;
      }
    }
    &_list {
      flex-direction: column;
    }
    .menu_link {
      display: flex;
      align-items: center;
      color: $black;
      border-bottom: 1px solid rgba(43, 45, 58, 0.1);
      padding: 24px 0;
      font-weight: 500;
      font-size: rem(18px);
      line-height: rem(22px);
    }
    &_item.active {
      .svg-icon {
        fill: $blue;
      }
      .menu_link {
        font-weight: 600;
        color: $blue;
        &::after {
          display: none;
        }
      }
    }
  }

  %hamburger-inner {
    position: absolute;
    width: 18px;
    height: 2px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 10px;
    background-color: $black;
  }

  .hamburger {
    cursor: pointer;
    display: inline-block;
    overflow: visible;
    margin: 0;
    line-height: 0;
    padding: 8px;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
    &.active {
      .hamburger_inner {
        transform: translate3d(0, 6px, 0) rotate(45deg);
        &:before {
          transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
          opacity: 0;
        }
        &:after {
          transform: translate3d(0, -13px, 0) rotate(-90deg);
        }
      }
    }
    &_box {
      position: relative;
      display: inline-block;
      width: 18px;
      height: 18px;
    }
    &_inner {
      @extend %hamburger-inner;
      &:before {
        display: block;
        content: "";
        top: 6px;
        transition-timing-function: ease;
        transition-duration: .15s;
        transition-property: transform, opacity;
        @extend %hamburger-inner;
      }
      &:after {
        top: 13px;
        display: block;
        content: "";
        @extend %hamburger-inner;
      }
    }
  }

  .brief-button {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    outline: none;
    color: #fff;
    padding: 13px 0;
    font-weight: 500;
    font-size: rem(16px);
    line-height: rem(20px);
    cursor: pointer;
    background: $blue;
    box-shadow: 0 6px 24px rgba(85, 104, 255, 0.12);
    margin: 32px 0;
  }

  .mail {
    margin: 16px 0;
    &_text {
      display: block;
      font-weight: 500;
      font-size: rem(22px);
      line-height: rem(27px);
      color: $black;
    }
    &_address {
      margin-top: 20px;
      color: $blue;
      font-weight: 500;
      font-size: rem(18px);
      line-height: rem(22px);
    }
  }

}

