.image-block {
  display: flex;
  &_item {
    position: relative;
    flex: 1 1 auto;
  }
  &_content{
    position: relative;
  }
  &_img {
    display: block;
    width: 100%;
  }
  &_btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 73px;
    right: 198px;
    border-radius: 50%;
    border: 1px solid $blue;
    width: 73px;
    height: 73px;
    box-sizing: border-box;
    background: rgba(57, 125, 255, 0.15);
    &.plus {
      left: 172px;
      cursor: pointer;
    }
  }
  %plus {
    background: #fff;
    content: '';
    display: block;
    width: 9px;
    height: 1.2px;
  }
  .plus &_inner {
    background: $blue;
    &::before {
      @extend %plus;
    }
    &::after {
      position: absolute;
      transform: rotate(90deg);
      @extend %plus;
    }
  }
  &_inner {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid $blue;
    width: 27px;
    height: 27px;
  }
}
.popover {
  display: none;
  padding: 17px 44px 10px 24px;
  border-radius: 10px;
  background: #fff;
  color: $black;
  position: absolute;
  z-index: 2;
  top: -100px;
  left: 51px;
  &.show{
    display: block;
  }
  &:after{
    content: '';
    display: block;
    background: #fff;
    transform: rotate(45deg);
    border-radius: 2px;
    position: absolute;
    bottom: -8px;
    left: 48%;
    height: 20px;
    width: 20px;
    z-index: 1;
  }
  %popover{
    width: 16px;
    height: 1px;
    border-radius: 10px;
    background-color: #2b2d3a;
    display: block;
  }
  &_close{
    position: absolute;
    top: 12px;
    opacity: .8;
    right: 16px;
    cursor: pointer;
    padding: 10px 0;
  }
  &_inner{
    transform: rotate(45deg);
    @extend %popover;
    &::before{
      @extend %popover;
      content: '';
      transform: rotate(-90deg);
    }
  }
  &_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_title{
    font-weight: 500;
    font-size: rem(18px);
    line-height: rem(24px);
    margin: 0;
  }
  &_list{
    list-style: none;
    margin: 10px 0 0 5px;
    padding: 0;
  }
  &_item{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-size: rem(12px);
    line-height: rem(17px);
    &::before{
      content: '';
      margin-right: 13px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: $blue;
      box-shadow: 0 0 0 5px rgba(57,125,255, 0.15);
    }
  }
}

@media only screen and (max-device-width: 480px) {
  .image-block{
    position: relative;
    &_item {
      position: static;
    }
    &_btn{
      width: 40px;
      height: 40px;
      top: 32px;
      right: 9px;
      &.plus{
        left: 9px;
      }
    }
    &_inner {
      width: 20px;
      height: 20px;

    }
  }
  .popover{
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    &_title{
      font-size: rem(16px);
      line-height: rem(21px);
    }
    &_icon{
      width: 38px;
      height: 38px;
    }
  }
}