@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

.popup {
  opacity: 0;
  height: 0;
  transition: opacity ease-in 0.2s;
  visibility: hidden;
  z-index: 3;
  width: 100%;
  position: fixed;
  top: 0;
  &.show {
    visibility: visible;
    height: 100vh;
    opacity: 1;
  }
  &_wrap {
    position: relative;
    padding: 32px 42px 48px;
    background: #fff;
    border-radius: 16px;
    color: $black;
    box-sizing: border-box;
    max-width: 540px;
    margin: 8% auto 0;
  }

  %close {
    width: 26px;
    height: 2px;
    border-radius: 10px;
    background-color: $black;
    display: block;
  }
  &_close {
    position: absolute;
    top: 16px;
    opacity: 0.8;
    right: 24px;
    cursor: pointer;
    padding: 10px 0;
  }
  &_inner {
    @extend %close;
    transform: rotate(45deg);
    &:before {
      content: '';
      transform: rotate(-90deg);
      @extend %close;
    }
  }
}

.form {
  display: none;
  &.show{
    display: block;
  }
  &_head {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: rem(24px);
    line-height: rem(29px);
    display: flex;
    align-items: center;
  }
  &_subhead {
    font-size: rem(16px);
    line-height: rem(19px);
    margin-bottom: 32px;
  }
  &_content {
    display: flex;
    flex-direction: column;
  }
  &_input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    box-sizing: border-box;
    border-radius: 9px;
    padding: 15px;
    font-size: rem(16px);
    line-height: rem(18px);
    color: $black;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 24px;
    width: 100%;
    &:focus {
      border-color: $blue;
    }
    @include placeholder {
      color: rgba(43, 45, 58, 0.5);
    }
  }

  &_submit {
    font-family: "Montserrat", sans-serif;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    outline: 0;
    color: #fff;
    padding: 13px 0;
    font-weight: 600;
    font-size: rem(18px);
    line-height: rem(22px);
    cursor: pointer;
    background: $blue;
    box-shadow: 0 6px 24px rgba(85, 104, 255, .12);
    margin-top: 16px;
  }
}

.success{
  display: none;
  text-align: center;
  &.show{
    display: block;
  }
  &_check{
    width: 160px;
    height: 160px;
    background: #F2F4F7;
    border: 1px solid $blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  &_inner{
    width: 77px;
    height: 77px;
    border-radius: 50%;
    background-color: $blue;
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='26' viewBox='0 0 36 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.5896 2.30774L12.1538 23.7436L2.41016 14' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
  }
  &_text{
    font-weight: 500;
    font-size: rem(18px);
    line-height: rem(29px);
  }
  &_btn{
    box-sizing: border-box;
    border-radius: 8px;
    outline: 0;
    background: 0 0;
    color: #fff;
    padding: 13px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    cursor: pointer;
    border: none;
    background: #397dff;
    width: 100%;
  }
}

.conditions {
  &_check {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  &_check + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    &::before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      flex-grow: 0;
      background: #EBEEF5;
      border: 1px solid $blue;
      box-sizing: border-box;
      margin-right: 8px;
      border-radius: 3px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  &_check:checked + label {
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L3.5 6.5L1 4' stroke='%23397DFF' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
  }
  &_text {
    font-size: rem(14px);
    line-height: rem(17px);
  }
  &_link {
    color: $blue;
    text-decoration: none;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

  .popup {
    &_wrap {
      padding: 38px 16px 32px;
    }
    %close-min {
      width: 18px;
      height: 1px;
    }
    &_close {
      right: 16px;
      padding: 5px 0;
    }
    &_inner {
      @extend %close-min;
      &:before {
        @extend %close-min;
      }
    }
  }

  .form {
    &_head {
      font-size: rem(21px);
      line-height: rem(26px);
    }
    &_subhead {
      font-size: rem(12px);
      line-height: rem(19px);
      margin-bottom: 24px;
    }
    &_input {
      margin-bottom: 16px;
      font-size: rem(14px);
      padding: 13px;
    }
    &_submit {
      font-size: rem(16px);
      line-height: rem(20px);
    }
  }

  .conditions {
    &_text {
      font-size: rem(9px);
      line-height: rem(11px);
    }
  }

  .success{
    &_check{
      width: 130px;
      height: 130px;
    }
    &_inner{
      width: 62px;
      height: 62px;
      background-size: 50%;
    }
    &_text{
      font-size: rem(14px);
      line-height: rem(23px);
    }
  }
}
