.slider {
  width: 100%;
  position: relative;
  overflow: hidden;
  max-height: 624px;
  &_controls {
    display: flex;
    position: absolute;
    left: calc(65% + 35px);
    bottom: 145px;
    z-index: 1;
  }
  &_control {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgba(186, 209, 255, 0.1);
    display: flex;
    align-items: center;
    background: $blue;
    cursor: pointer;
    &.mgl {
      margin-left: 43px;
    }
  }
  &_arrow {
    border: solid #fff;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 6px;
    &.left {
      transform: rotate(135deg);
      margin-left: calc(100% - 18px);
    }
    &.right {
      transform: rotate(-45deg);
      margin-left: calc(50% - 9px);
    }
  }
}

.fade-slider {
  .owl-carousel .owl-item &_background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &_content {
    padding: 124px 0 198px;
    max-width: 54%;
  }
  &_item {
    position: relative;
    color: #fff;
  }
  &_subhead {
    font-weight: 500;
    font-size: rem(18px);
    line-height: rem(22px);
  }
  &_head {
    font-weight: 600;
    font-size: rem(52px);
    line-height: rem(63px);
    margin: 12px 0 24px;
  }
  &_text {
    font-weight: 500;
    font-size: rem(16px);
    line-height: rem(24px);
    color: rgba(255, 255, 255, 0.8);
  }
  &_buttons {
    display: flex;
    margin-top: 54px;
  }
  &_btn {
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
    background: transparent;
    color: #fff;
    padding: 13px 27px;
    font-weight: 500;
    font-size: rem(16px);
    line-height: 20px;
    cursor: pointer;
    border: 1px solid #FFFFFF;
  }
  .brief {
    border: none;
    background: $blue;
    box-shadow: 0 6px 24px rgba(85, 104, 255, 0.12);
    margin-left: 24px;
  }
}

.carousel {
  position: absolute;
  width: 100%;
  left: 65%;
  top: 181px;
  .active .carousel_item {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  .owl-item.active + .owl-item.active {
    .carousel_head {
      color: rgba(57, 125, 255, 0.3);
    }
    .carousel_descr {
      color: rgba(255, 255, 255, 0.3);
    }
  }
  &_item {
    padding: 20px 35px 30px;
    max-width: 322px;
  }
  &_head {
    font-weight: bold;
    font-size: rem(64px);
    line-height: rem(78px);
    letter-spacing: 0.02em;
    color: $blue;
  }
  &_descr {
    font-size: rem(14px);
    line-height: rem(22px);
    color: rgba(255, 255, 255, 0.7);
    margin: 5px 0 0;
  }
}

@media only screen and (max-device-width: 480px) {
  .carousel, .slider_controls {
    display: none;
  }
  .fade-slider {
    &_content{
      padding: 36px 16px 55px;
      max-width: none;
    }
    &_subhead{
      font-size: rem(14px);
      line-height: rem(17px);
    }
    &_head{
      font-size: rem(29px);
      line-height: rem(36px);
    }
    &_text{
      font-size: rem(14px);
      line-height: rem(21px);
    }
    &_buttons{
      margin-top: 32px;
    }
    &_btn{
      font-size: rem(14px);
      line-height: rem(17px);
      padding: 13px 20px;
    }

  }
}


