$blue: #397DFF;
$black: #2B2D3A;
$grey: #EBEEF5;

$root-font-size: 16px;

@function rem($size) {
  @return $size / $root-font-size * 1rem;
}

html {
  font-size: $root-font-size;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--black);
  position: relative;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
}

.fade {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 2;
  width: 100%;
  height: 100vh;
}

@media only screen and (max-device-width: 480px) {
  .container {
    width: auto;
  }
}

@import 'header', 'slider', 'popup', 'image-block';
